@tailwind base;
@tailwind components;
@tailwind utilities;


.beforeAnimated1 {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.7s ease;
}
.beforeAnimated2 {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.4s ease;
}
.beforeAnimated3 {
  opacity: 0;
  transform: translateY(20px);
  transition: all 2.1s ease;
}

.afterAnimated {
  opacity: 1;
  transform: translateY(0);
}

.animated-text {
animation-name: slideInRight;
animation-duration: 1s;
animation-fill-mode: forwards;
}

@keyframes slideInRight {
from {
transform: translateX(100%);
opacity: 0;
}

to {
transform: translateX(0);
opacity: 1;
}
}

.animated-text {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

