@tailwind base;
@tailwind components;
@tailwind utilities;


.beforeAnimated1 {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.7s ease;
}
.beforeAnimated2 {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.4s ease;
}
.beforeAnimated3 {
  opacity: 0;
  transform: translateY(20px);
  transition: all 2.1s ease;
}

.afterAnimated {
  opacity: 1;
  transform: translateY(0);
}

.sideBarBefore {
  transform: translateX(-100%);
  transition: all 0.5s ease;
}
.sideBarAfter {
  transform: translateX(0);
}

.your-element {
  position: relative;
}

.your-element:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: rgb(245 158 11);
  animation: underline 0.3s ease-out;
}

@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

